<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iyxan23.sketch.collab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".DebugApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SketchCollab">
        <activity
            android:name=".CheckActivity"
            android:theme="@style/Theme.SketchCollab.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".online.ViewOnlineProjectActivity"
            android:theme="@style/Theme.SketchCollab.NoActionBar" />
        <activity
            android:name=".online.EditProjectActivity"
            android:theme="@style/Theme.SketchCollab.NoActionBar" />
        <activity
            android:name=".online.BrowseActivity"
            android:theme="@style/Theme.SketchCollab.NoActionBar" />
        <activity
            android:name=".online.UploadActivity"
            android:theme="@style/Theme.SketchCollab.NoActionBar" />
        <activity
            android:name=".pman.SketchwareProjectsListActivity"
            android:theme="@style/Theme.SketchCollab.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.SketchCollab.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.SketchCollab.NoActionBar" />
        <activity
            android:name=".online.PushCommitActivity"
            android:theme="@style/Theme.SketchCollab.NoActionBar" />
        <activity
            android:name=".online.CommitsActivity"
            android:theme="@style/Theme.SketchCollab.NoActionBar" />
        <activity
            android:name=".DebugActivity"
            android:theme="@style/Theme.SketchCollab.NoActionBar" />
        <activity
            android:name=".online.BrowseCodeActivity"
            android:theme="@style/Theme.SketchCollab.NoActionBar" />
        <activity
            android:name=".pickers.UserPicker"
            android:theme="@style/Theme.SketchCollab.NoActionBar" />
        <activity
            android:name=".pman.ViewProjectActivity"
            android:theme="@style/Theme.SketchCollab.NoActionBar" />

        <service android:name=".services.CloneService" />
    </application>

</manifest>